* {
    margin: 0;
    padding: 0;
    border: none;
}

/* mobile first - min-width: 375px*/
body {
    min-width: 375px;
    height: 100vh;
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
    background-color: hsl(216, 12%, 8%);
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    display: flex;
    width: 90vw;
    height: auto;
    margin: 0 auto;
    background: linear-gradient(180deg, hsl(213, 19%, 18%), hsl(214, 28%, 11%) );
    border-radius: 25px;
}

img {
    max-width: 100%;
}

/*Rating state*/

.section {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.section1__img {
    background-color: hsla(217, 12%, 63%, 0.1);
    border-radius: 50%;
    padding: 0.8rem;
    margin: 2rem 0 1rem 0;
}

.section__title {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    margin-bottom: 1rem;
}

.section__paragraph {
    width: 100%;
    color: hsl(217, 12%, 63%);
    font-size: 0.85rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.box {
    width: 16.87rem;
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
}

.box__btn[type="radio"] {
    display: none;
}

.box__btn[type="radio"] + label {
    width: 0.5rem;
    height: 1rem;
    padding: 0.7rem 1rem;
    color: hsl(217, 12%, 63%);
    background-color: hsla(217, 12%, 63%, 0.1);
    border-radius: 50%;
    font-weight: 700;
    text-align: center;
}

.box__btn[type="radio"]:checked + label {
    background: grey;
}

.section__btn {
    width: 72vw;
    height: 2.5rem;
    font-weight: 700;
    border-radius: 30px;
    letter-spacing: 0.2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

.box__btn:hover, .section__btn:hover {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    transition: 0.2s;
    cursor: pointer;
}

.section__btn:hover {
    color: hsl(25, 97%, 53%);
    background-color: hsl(0, 0%, 100%);
    transition: 0.2s;
    cursor: pointer;
}


/*Thank you state*/

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section2__img {
    width: 50%;
    margin: 2rem 0;
}

.section2__rate {
    color: hsl(25, 97%, 53%);
    background-color: hsla(217, 12%, 63%, 0.1);
    border-radius: 1.5rem;
    font-size: 0.9rem;
    font-weight: 400;
    padding: 0.3rem 0.7rem;
    letter-spacing: 0.01rem;
    margin-bottom: 1rem;
}

.section2__title {
    font-weight: 400;
}

.section2__paragraph {
    text-align: center;
    line-height: 1.3rem;
    margin-bottom: 2rem;
}

#section2 {
    display: none;
}


.attribution { 
    font-size: 0.7rem; 
    text-align: center;
    color: hsl(0, 0%, 100%);
    margin-top: 0.5rem;
}

.attribution a { 
    color: hsl(0, 0%, 61%); 
    text-decoration: none;
    cursor: pointer;
}

/* Media query */
@media screen and (min-width: 768px) {
    main {
        width: 45vw;
    }

    /*Rating state*/

    .section__img {
        padding: 0.9rem;
        margin: 1.5rem 0;
    }

    .section__paragraph {
        font-size: 0.8rem;
        line-height: 1.2rem;
        margin-bottom: 1.5rem;
    }

    .box {
        margin-bottom: 1.5rem;
    }

    .section__btn {
        width: 36vw;
    }

    /*Thank you state*/

    .section2__rate {
        margin-bottom: 1.8rem;
    }
    
    .section2__paragraph {
        line-height: 1.2rem;
        margin-bottom: 2rem;
        font-size: 0.77rem;
    }
    
}

@media screen and (min-width: 1280px) {
    main {
        width: 30vw;
        height: 23.17rem;
        text-align: center;
    }
    
    /*Rating state*/

    .section1__img {
        padding: 1rem;
        display: flex;
    }

    .section__title {
        font-size: 1.5rem;
        text-align: left;
    }

    .section__paragraph {
        text-align: justify;
    }
    
    .box {
        width: 19rem;
        margin: 0 auto;
        margin-bottom: 1.7rem;
    }

    .box__btn[type="radio"] + label {
        width: 1rem;
        padding: 1rem;
        font-size: 1rem;
    }

    .section__btn {
        width: 19rem;
        height: 2.5rem;
    }
    
    /*Thank you state*/
    
    .section2__img {
        width: 50%;
        margin: 2.5rem 0;
        margin-bottom: 1.5rem;
    }  
    
    .section2__paragraph {
        text-align: center;
        font-size: 0.85rem;
        margin: 0;
    } 
    
    .attribution { 
        font-size: 0.9rem; 
    }

}

@media screen and (min-width: 1440px) {
    main {
        width: 27vw;
        height: 24rem;
    }

    /*Rating state*/

    .section__title {
        font-size: 1.8rem;       
    }

    .section__paragraph {
            font-size: 0.9rem;
            line-height: 1.3rem;
    }

    .section__btn {
        width: 19rem;
        height: 2.8rem;
        font-size: 1rem;
        letter-spacing: 0.1;
    }

    /*Thank you state*/
        
    .section2__paragraph {
        text-align: center;
        font-size: 0.85rem;
        margin: 0;
    } 
}

@media screen and (min-width: 1920px) {
    main {
        width: 25vw;
        height: 29rem;
    }

    /*Rating state*/

    .section1__img {
        width: 30px;
        padding: 1rem;
        margin: 2rem 0 2.5rem 0;
    }

    .section__title {
        font-size: 2.1rem;       
    }

    .section__paragraph {
        font-size: 1rem;
        line-height: 1.4rem;
    }

    .box {
        width: 24rem;
        margin-bottom: 2rem;
    }

    .section__btn {
        width: 24rem;
        height: 3rem;
        font-size: 1.2rem;
    }

    /*Thank you state*/
        
    .section2__img {
        width: 55%;
        margin: 3.3rem 0 1.9rem 0;
    }  

    .section2__rate {
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
        letter-spacing: 0.03rem;
    }

    .section2__paragraph {
        font-size: 1.05rem;
    } 

    .attribution { 
        font-size: 1rem; 
    }
}


